
.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.data-table th, .data-table td {
  border: 1px solid #dddddd;
  padding: 8px;
}
.selected-row {
  background-color: blue;
  color: rgb(242, 25, 5); /* Optional: change text color for better contrast */
}

.data-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.data-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.data-table tr:hover {
  background-color: blue;
}
.print-button {
  height: 50px; /* Adjust the height as needed */
  font-size: 16px; /* Optional: Adjust font size for better appearance */
  padding: 10px 20px; /* Optional: Add padding for better spacing */
  margin-left: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.data-table {
  /* width: 100%;
  max-width: 100%;
  overflow-x: auto; */
  width: 100%;
  border-collapse: collapse;
}
.table-container {
  overflow-x: auto;
  overflow-y: auto; /* Prevent vertical scrolling */
  margin-top: 20px;
  height: 450px; /* Set a fixed height for the container */
  position: relative;
}


@media (max-width: 768px) {
  .data-table th, .data-table td {
    padding: 8px;
    font-size: 14px;
  }

  .print-button {
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .data-table th, .data-table td {
    padding: 6px;
    font-size: 12px;
  }

  input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
  }
}

h1 {
  font-size: 2rem;
}

input[type="text"] {
  width: 80%;
  padding: 0.5em;
}


