
/* =============================Small Screen=============================================== */
@media only screen and (max-width: 246px){
    .parentContainerHeroMRA{
        background: url("../../../assets/hero/fiesta.png")no-repeat center/cover ;
        display: flex;
        background-size: cover;
        width: 100%;
        height: 20rem;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-wrap: wrap;
        flex-direction: row;
    
     }
 
     .btnSignUpDivHero{
        display: flex;
        position: relative;
        top: 7rem;
        flex-direction: column;
    
     }
     /* =====Button Style ======= */
     .SignUpButtonHeroMRA{
        cursor: pointer;
        background-color: var(--buttoncolor);
        outline: none;
        height: 1.3rem;
        color: var(--textColorbutton);
        width: 120px;
        border-radius: 0.5rem;
        font-size: 0.5rem;
    }
    
    /* === information at the buttom part of button sign up   === */
    .HeroBanH5MRA{
        display: flex;
        position: relative;
        padding: 1rem 1rem;
        justify-content: center; 
        align-items: center;
        height: 1rem;
        width: 120px; 
        top:0.5rem;
        font-size: 0.5rem;
        text-align: justify;
        color: var(--textColorSecond);
    }  
       
}

/* ===== Mobile ========= */
@media only screen and (min-width: 246px){
    .parentContainerHeroMRA{
        background: url("../../../assets/hero/fiesta.png")no-repeat center/cover ;
        display: flex;
        background-size: cover;
        width: 100%;
        height: 20rem;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-wrap: wrap;
        flex-direction: row;
    
     }
 
     .btnSignUpDivHero{
        display: flex;
        position: relative;
        top: 7rem;
        flex-direction: column;
    
     }
     /* =====Button Style ======= */
     .SignUpButtonHeroMRA{
        cursor: pointer;
        background-color: var(--buttoncolor);
        outline: none;
        height: 1.3rem;
        color: var(--textColorbutton);
        width: 120px;
        border-radius: 0.5rem;
        font-size: 0.5rem;
    }
    
    /* === information at the buttom part of button sign up   === */
    .HeroBanH5MRA{
        display: flex;
        position: relative;
        padding: 1rem 1rem;
        justify-content: center; 
        align-items: center;
        height: 1rem;
        width: 120px; 
        top:0.5rem;
        font-size: 0.5rem;
        text-align: justify;
        color: var(--textColorSecond);
    }  
}

@media only screen and (min-width: 314px){
    .parentContainerHeroMRA{
        background: url("../../../assets/hero/fiesta.png")no-repeat center/cover ;
        display: flex;
        background-size: cover;
        width: 100%;
        height:25rem;
        justify-content: center;
        position: relative;
        flex-wrap: wrap;
        flex-direction: row;
    
     }
     
     .btnSignUpDivHero{
        display: flex;
        position: relative;
        top: 8rem;
        flex-direction: column;
    
     }
     /* =====Button Style ======= */
     .SignUpButtonHeroMRA{
        cursor: pointer;
        background-color: var(--buttoncolor);
        outline: none;
        height: 1.3rem;
        color: var(--textColorbutton);
        width: 150px;
        border-radius: 0.5rem;
        font-size: 0.5rem;
    }
    
    /* === information at the buttom part of button sign up   === */
    .HeroBanH5MRA{
        display: flex;
        position: relative;
        padding: 1rem 1rem;
        justify-content: center; 
        align-items: center;
        height: 1rem;
        width: 150px; 
        top:1rem;
        font-size: 0.8rem;
        text-align: justify;
        color: var(--textColorSecond);
    }  
}
/* ============ tablet =========== */
@media only screen and (min-width: 481px){
/* === Container of the whole hero === */
.parentContainerHeroMRA{
    background: url("../../../assets/hero/fiesta.png")no-repeat center/cover ;
    display: flex;
    background-size: cover;
    width: 100%;
    height:32rem;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;

 }
 
 .btnSignUpDivHero{
    display: flex;
    position: relative;
    top: 10rem;
    flex-direction: column;

 }
 /* =====Button Style ======= */
 .SignUpButtonHeroMRA{
    cursor: pointer;
    background-color: var(--buttoncolor);
    outline: none;
    height: 1.5rem;
    color: var(--textColorbutton);
    width: 180px;
    border-radius: 0.5rem;
    font-size: 1rem;
}

/* === information at the buttom part of button sign up   === */
.HeroBanH5MRA{
    display: flex;
    position: relative;
    padding: 1rem 1rem;
    justify-content: center; 
    align-items: center;
    height: 1.5rem;
    width: 180px; 
    top:1.8rem;
    font-size: 1rem;
    text-align: justify;
    color: var(--textColorSecond);
}  
}

/* ============ tablet =========== */
@media only screen and (min-width: 611px){
    /* === Container of the whole hero === */
    .parentContainerHeroMRA{
        background: url("../../../assets/hero/fiesta.png")no-repeat center/cover ;
        display: flex;
        background-size: cover;
        width: 100%;
        height:32rem;
        justify-content: center;
        position: relative;
        flex-wrap: wrap;
        flex-direction: row;
    
     }
    
     .btnSignUpDivHero{
        display: flex;
        position: relative;
        top: 10rem;
        flex-direction: column;
    
     }
     /* =====Button Style ======= */
     .SignUpButtonHeroMRA{
        cursor: pointer;
        background-color: var(--buttoncolor);
        outline: none;
        height: 2rem;
        color: var(--textColorbutton);
        width: 200px;
        border-radius: 0.5rem;
        font-size: 1.2rem;
    }
    
    /* === information at the buttom part of button sign up   === */
    .HeroBanH5MRA{
        display: flex;
        position: relative;
        padding: 1rem 1rem;
        justify-content: center; 
        align-items: center;
        height: 2rem;
        width: 200px; 
        top:1.8rem;
        font-size: 1.1rem;
        text-align: justify;
        color: var(--textColorSecond);
    }  
    }
/* ======== Laptop ============ */
@media only screen and (min-width: 768px){
/* === Container of the whole hero === */
.parentContainerHeroMRA{
    background: url("../../../assets/hero/fiesta.png")no-repeat center/cover ;
    display: flex;
    background-size: cover;
    width: 100%;
    height:43rem;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;

 }

 .btnSignUpDivHero{
    display: flex;
    position: relative;
    top: 15rem;
    flex-direction: column;

 }
 /* =====Button Style ======= */
 .SignUpButtonHeroMRA{
    cursor: pointer;
    background-color: var(--buttoncolor);
    outline: none;
    height: 2rem;
    color: var(--textColorbutton);
    width: 200px;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

/* === information at the buttom part of button sign up   === */
.HeroBanH5MRA{
    display: flex;
    position: relative;
    padding: 1rem 1rem;
    justify-content: center; 
    align-items: center;
    height: 2rem;
    width: 200px; 
    top:1.8rem;
    font-size: 1.1rem;
    text-align: justify;
    color: var(--textColorSecond);
}  
}
/* ======= Desktop =========== */
@media only screen and (min-width: 1024px){
/* === Container of the whole hero === */
.parentContainerHeroMRA{
    background: url("../../../assets/hero/fiesta.png")no-repeat center/cover ;
    display: flex;
    background-size: cover;
    width: 100%;
    height:43rem;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;

 }

 .btnSignUpDivHero{
    display: flex;
    position: relative;
    top: 15rem;
    flex-direction: column;

 }
 /* =====Button Style ======= */
 .SignUpButtonHeroMRA{
    cursor: pointer;
    background-color: var(--buttoncolor);
    outline: none;
    height: 2rem;
    color: var(--textColorbutton);
    width: 200px;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

/* === information at the buttom part of button sign up   === */
.HeroBanH5MRA{
    display: flex;
    position: relative;
    padding: 1rem 1rem;
    justify-content: center; 
    align-items: center;
    height: 2rem;
    width: 200px; 
    top:1.8rem;
    font-size: 1.1rem;
    text-align: justify;
    color: var(--textColorSecond);
}

}

/* ============ Big Screen ============== */
@media only screen and (min-width: 1200px){
/* === Container of the whole hero === */
.parentContainerHeroMRA{
    background: url("../../../assets/hero/fiesta.png")no-repeat center/cover ;
    display: flex;
    background-size: cover;
    width: 100%;
    height:43rem;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;

 }

 .btnSignUpDivHero{
    display: flex;
    position: relative;
    top: 15rem;
    flex-direction: column;

 }
 /* =====Button Style ======= */
 .SignUpButtonHeroMRA{
    cursor: pointer;
    background-color: var(--buttoncolor);
    outline: none;
    height: 2rem;
    color: var(--textColorbutton);
    width: 200px;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

/* === information at the buttom part of button sign up   === */
.HeroBanH5MRA{
    display: flex;
    position: relative;
    padding: 1rem 1rem;
    justify-content: center; 
    align-items: center;
    height: 2rem;
    width: 200px; 
    top:1.8rem;
    font-size: 1.1rem;
    text-align: justify;
    color: var(--textColorSecond);
}
}

