 
 @media only screen and (max-width: 246px){

    /* === Main Container Form === */
    .LogInConatainerFormMRA{
        background-color: var(--backgroundColorLogIn);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: absolute;
        height: 100%;
        width: 100%;
        margin: 2rem;   
        margin-top: 2rem; 
        font-size: 1rem;
    
    
    }
    /* == Close Button === */
    .btncloseDivHero{
     display: flex;
     position: relative;
     justify-content: end;
     top: 2rem;
    
    
     
  }
    .CloseButtonMRA{
        height: 1.5rem;
        width: 1.5rem;
        position:relative;
        background-color: var(--buttoncolor);
        cursor: pointer;
        font-size: 0.5rem;
        border-radius: 1rem;
        color: var(--textColorbutton);
        z-index: 100;
    }
    .imageSignUp{
     height: 100px;
     width: 200px;
    
 
    }
 
    .h1LoginMRA{
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--textColorBlue);
        margin-bottom: 1rem;
    }
    /* ================ Sign Up div ============ */
    /* === Input Container === */
    .inputContainerSignUp {
       color:var(--textColorBlue)
        }
    
    /* === container button ==== */
    .signUpButtonContainer {
        display: flex;
        justify-content: center;
        }
        /* === Sign Up Student Button === */
    .SignUpButtonMemberMRA{
            cursor: pointer;
            background-color: var(--boxColorBackgroundHero);
            outline: none;
            color: var(--textColorHeroSub);
            width: 100%;
            border-radius: 0.5rem;
            margin-top: 1rem; 
            width: 6rem;
            justify-content: center;
        
    }
    
        /* === Button === */
    .SignUpButtonTeacherMRA{
        cursor: pointer;
        background-color: var(--buttoncolor);
        outline: none;
        color: var(--textColorbutton);
        width: 100%;
        border-radius: 0.5rem;
        margin-top: 1rem;
        width: 6rem;
        justify-content: center;
    }
    /* radio button */
    .wrapnewreturn{
     width: auto;
     height: auto;
     display: flex;
 justify-content: first baseline;
 align-items: center;
 flex-direction: row;   
 }
    .signUpNewReturn{
     display: inline-flex;
 
    }
    }

  
 @media only screen and (min-width: 246px){
    
    /* === Main Container Form === */
    .LogInConatainerFormMRA{
        background-color: var(--backgroundColorLogIn);
        /* background: url("../../../assets/login-singup/login-logo.png")no-repeat center/cover ; */
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 100%;
        width: 100%;
        margin: 1rem;   
        margin-top: 3rem; 
        font-size: 1rem;

        
    
    
    }
    /* == Close Button === */
    .btncloseDivHero{
     display: flex;
     position: relative;
     justify-content: end;
     top: 1.5rem;
    
    
     
  }
    .CloseButtonMRA{
        height: 1.5rem;
        width: 1.5rem;
        position:relative;
        background-color: var(--buttoncolor);
        cursor: pointer;
        font-size: 1rem;
        border-radius: 1rem;
        color: var(--textColorbutton);
        z-index: 100;
    }
    .imageSignUp{
        height: 100px;
        display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    

 
    }
 
    .h1LoginMRA{
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--textColorBlue);
        margin-bottom: 1rem;
    }
    /* ================ Sign Up div ============ */
    /* === Input Container === */
    .inputContainerSignUp {
       color:var(--textColorBlue)
        }
    
    /* === container button ==== */
    .signUpButtonContainer {
        display: flex;
        justify-content: center;
        }
        /* === Sign Up Student Button === */
    .SignUpButtonMemberMRA{
            cursor: pointer;
            background-color: var(--boxColorBackgroundHero);
            outline: none;
            color: var(--textColorHeroSub);
            width: 100%;
            border-radius: 0.5rem;
            margin-top: 1rem; 
            width: 6rem;
            justify-content: center;
        
    }
    
        /* === Button === */
    .SignUpButtonTeacherMRA{
        cursor: pointer;
        background-color: var(--buttoncolor);
        outline: none;
        color: var(--textColorbutton);
        width: 100%;
        border-radius: 0.5rem;
        margin-top: 1rem;
        width: 6rem;
        justify-content: center;
    }
    /* radio button */
    .wrapnewreturn{
     width: auto;
     height: auto;
     display: flex;
 justify-content: first baseline;
 align-items: center;
 flex-direction: row;   
 }
    .signUpNewReturn{
     display: inline-flex;
 
    }
    }

 
 @media only screen and (min-width: 314px){
    
    /* === Main Container Form === */
    .LogInConatainerFormMRA{
        background-color: var(--backgroundColorLogIn);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: absolute;
        height: 100%;
        width: 100%;
        margin-top: 5rem; 
        padding-left: 1rem;
        padding-right: 1rem;
     
    
    
    }
    /* == Close Button === */
    /* .btncloseDivHero{
     display: flex;
     position: relative;
     justify-content: end;
     top: 1.5rem;
    
    
     
  }
    .CloseButtonMRA{
        height: 1.8rem;
        width: 1.8rem;
        position:relative;
        background-color: var(--buttoncolor);
        cursor: pointer;
        font-size: 1rem;
        border-radius: 1rem;
        color: var(--textColorbutton);
        z-index: 100;
    } */
    .imageSignUp{
        height: 180px;
        display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    padding-left: 1rem;
    padding-right: 1rem;
 
    }
 
    .h1LoginMRA{
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--textColorBlue);
    }
    /* ================ Sign Up div ============ */
    /* === Input Container === */
    .inputContainerSignUp {
       color:var(--textColorBlue)
        }
    
    /* === container button ==== */
    .signUpButtonContainer {
        display: flex;
        justify-content: center;
        }
        /* === Sign Up Student Button === */
    .SignUpButtonMemberMRA{
            cursor: pointer;
            background-color: var(--boxColorBackgroundHero);
            outline: none;
            color: var(--textColorHeroSub);
            width: 100%;
            border-radius: 0.5rem;
            margin-top: 1rem; 
            width: 6rem;
            justify-content: center;
        
    }
    
        /* === Button === */
    .SignUpButtonTeacherMRA{
        cursor: pointer;
        background-color: var(--buttoncolor);
        outline: none;
        color: var(--textColorbutton);
        width: 100%;
        border-radius: 0.5rem;
        margin-top: 1rem;
        width: 6rem;
        justify-content: center;
    }
    /* radio button */
    .wrapnewreturn{
     width: auto;
     height: auto;
     display: flex;
 justify-content: first baseline;
 align-items: center;
 flex-direction: row;   
 }
    .signUpNewReturn{
     display: inline-flex;
 
    }
    }
 
 @media only screen and (min-width: 481px){
   
    /* === Main Container Form === */
    .LogInConatainerFormMRA{
        background-color: var(--backgroundColorLogIn);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: absolute;
        height: 100%;
        width: 100%;
        margin: 5rem;   
        margin-top: 15rem; 
     
    
    
    }
    /* == Close Button === */
    .btncloseDivHero{
     display: flex;
     position: relative;
     justify-content: end;
     top: 1.5rem;
    
    
     
  }
    .CloseButtonMRA{
        height: 3rem;
        width: 3rem;
        position:relative;
        background-color: var(--buttoncolor);
        cursor: pointer;
        font-size: 1rem;
        border-radius: 1rem;
        color: var(--textColorbutton);
        z-index: 100;
    }
    .imageSignUp{
     height: 250px;
     width: 900px;
    
 
    }
 
    .h1LoginMRA{
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--textColorBlue);
    }
    /* ================ Sign Up div ============ */
    /* === Input Container === */
    .inputContainerSignUp {
       color:var(--textColorBlue)
        }
    
    /* === container button ==== */
    .signUpButtonContainer {
        display: flex;
        justify-content: center;
        }
        /* === Sign Up Student Button === */
    .SignUpButtonMemberMRA{
            cursor: pointer;
            background-color: var(--boxColorBackgroundHero);
            outline: none;
            color: var(--textColorHeroSub);
            width: 100%;
            border-radius: 0.5rem;
            margin-top: 1rem; 
            width: 6rem;
            justify-content: center;
        
    }
    
        /* === Button === */
    .SignUpButtonTeacherMRA{
        cursor: pointer;
        background-color: var(--buttoncolor);
        outline: none;
        color: var(--textColorbutton);
        width: 100%;
        border-radius: 0.5rem;
        margin-top: 1rem;
        width: 6rem;
        justify-content: center;
    }
    /* radio button */
    .wrapnewreturn{
     width: auto;
     height: auto;
     display: flex;
 justify-content: first baseline;
 align-items: center;
 flex-direction: row;   
 }
    .signUpNewReturn{
     display: inline-flex;
 
    }
    }

 @media only screen and (min-width: 611px){
    
    /* === Main Container Form === */
    .LogInConatainerFormMRA{
        background-color: var(--backgroundColorLogIn);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: absolute;
        height: 100%;
        width: 100%;
        margin: 5rem;   
        margin-top: 15rem; 
     
    
    
    }
    /* == Close Button === */
    .btncloseDivHero{
     display: flex;
     position: relative;
     justify-content: end;
     top: 1.5rem;
    
    
     
  }
    .CloseButtonMRA{
        height: 3rem;
        width: 3rem;
        position:relative;
        background-color: var(--buttoncolor);
        cursor: pointer;
        font-size: 1rem;
        border-radius: 1rem;
        color: var(--textColorbutton);
        z-index: 100;
    }
    .imageSignUp{
     height: 250px;
     width: 900px;
    
 
    }
 
    .h1LoginMRA{
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--textColorBlue);
    }
    /* ================ Sign Up div ============ */
    /* === Input Container === */
    .inputContainerSignUp {
       color:var(--textColorBlue)
        }
    
    /* === container button ==== */
    .signUpButtonContainer {
        display: flex;
        justify-content: center;
        }
        /* === Sign Up Student Button === */
    .SignUpButtonMemberMRA{
            cursor: pointer;
            background-color: var(--boxColorBackgroundHero);
            outline: none;
            color: var(--textColorHeroSub);
            width: 100%;
            border-radius: 0.5rem;
            margin-top: 1rem; 
            width: 6rem;
            justify-content: center;
        
    }
    
        /* === Button === */
    .SignUpButtonTeacherMRA{
        cursor: pointer;
        background-color: var(--buttoncolor);
        outline: none;
        color: var(--textColorbutton);
        width: 100%;
        border-radius: 0.5rem;
        margin-top: 1rem;
        width: 6rem;
        justify-content: center;
    }
    /* radio button */
    .wrapnewreturn{
     width: auto;
     height: auto;
     display: flex;
 justify-content: first baseline;
 align-items: center;
 flex-direction: row;   
 }
    .signUpNewReturn{
     display: inline-flex;
 
    }
    }

 @media only screen and (min-width: 768px){

    /* === Main Container Form === */
    .LogInConatainerFormMRA{
        background-color: var(--backgroundColorLogIn);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: absolute;
        height: 100%;
        width: 100%;
        margin: 5rem;   
        margin-top: 15rem; 
     
    
    
    }
    /* == Close Button === */
    .btncloseDivHero{
     display: flex;
     position: relative;
     justify-content: end;
     top: 1.5rem;
    
    
     
  }
    .CloseButtonMRA{
        height: 3rem;
        width: 3rem;
        position:relative;
        background-color: var(--buttoncolor);
        cursor: pointer;
        font-size: 1rem;
        border-radius: 1rem;
        color: var(--textColorbutton);
        z-index: 100;
    }
    .imageSignUp{
     height: 250px;
     width: 900px;
    
 
    }
 
    .h1LoginMRA{
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--textColorBlue);
    }
    /* ================ Sign Up div ============ */
    /* === Input Container === */
    .inputContainerSignUp {
       color:var(--textColorBlue)
        }
    
    /* === container button ==== */
    .signUpButtonContainer {
        display: flex;
        justify-content: center;
        }
        /* === Sign Up Student Button === */
    .SignUpButtonMemberMRA{
            cursor: pointer;
            background-color: var(--boxColorBackgroundHero);
            outline: none;
            color: var(--textColorHeroSub);
            width: 100%;
            border-radius: 0.5rem;
            margin-top: 1rem; 
            width: 6rem;
            justify-content: center;
        
    }
    
        /* === Button === */
    .SignUpButtonTeacherMRA{
        cursor: pointer;
        background-color: var(--buttoncolor);
        outline: none;
        color: var(--textColorbutton);
        width: 100%;
        border-radius: 0.5rem;
        margin-top: 1rem;
        width: 6rem;
        justify-content: center;
    }
    /* radio button */
    .wrapnewreturn{
     width: auto;
     height: auto;
     display: flex;
 justify-content: first baseline;
 align-items: center;
 flex-direction: row;   
 }
    .signUpNewReturn{
     display: inline-flex;
 
    }
    }
    
 @media only screen and (min-width: 1024px){
 
    /* === Main Container Form === */
    .LogInConatainerFormMRA{
        background-color: var(--backgroundColorLogIn);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: absolute;
        height: 100%;
        width: 100%;
        margin: 5rem;   
        margin-top: 15rem; 
     
    
    
    }
    /* == Close Button === */
    .btncloseDivHero{
     display: flex;
     position: relative;
     justify-content: end;
     top: 1.5rem;
    
    
     
  }
    .CloseButtonMRA{
        height: 3rem;
        width: 3rem;
        position:relative;
        background-color: var(--buttoncolor);
        cursor: pointer;
        font-size: 1rem;
        border-radius: 1rem;
        color: var(--textColorbutton);
        z-index: 100;
    }
    .imageSignUp{
     height: 250px;
     width: 900px;
    
 
    }
 
    .h1LoginMRA{
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--textColorBlue);
    }
    /* ================ Sign Up div ============ */
    /* === Input Container === */
    .inputContainerSignUp {
       color:var(--textColorBlue)
        }
    
    /* === container button ==== */
    .signUpButtonContainer {
        display: flex;
        justify-content: center;
        }
        /* === Sign Up Student Button === */
    .SignUpButtonMemberMRA{
            cursor: pointer;
            background-color: var(--boxColorBackgroundHero);
            outline: none;
            color: var(--textColorHeroSub);
            width: 100%;
            border-radius: 0.5rem;
            margin-top: 1rem; 
            width: 6rem;
            justify-content: center;
        
    }
    
        /* === Button === */
    .SignUpButtonTeacherMRA{
        cursor: pointer;
        background-color: var(--buttoncolor);
        outline: none;
        color: var(--textColorbutton);
        width: 100%;
        border-radius: 0.5rem;
        margin-top: 1rem;
        width: 6rem;
        justify-content: center;
    }
    /* radio button */
    .wrapnewreturn{
     width: auto;
     height: auto;
     display: flex;
 justify-content: first baseline;
 align-items: center;
 flex-direction: row;   
 }
    .signUpNewReturn{
     display: inline-flex;
 
    }
 }


 @media only screen and (min-width: 1200px){

    /* === Main Container Form === */
   .LogInConatainerFormMRA{
       background-color: var(--backgroundColorLogIn);
       display: flex;
       align-items: center;
       justify-content: flex-start;
       position: absolute;
       height: 100%;
       width: 100%;
       margin: 15rem;    
   
   }
   /* == Close Button === */
   .btncloseDivHero{
    display: flex;
    position: relative;
    justify-content: end;
    top: 1.5rem;
   
   
    
 }
   .CloseButtonMRA{
       height: 3rem;
       width: 3rem;
       position:relative;
       background-color: var(--buttoncolor);
       cursor: pointer;
       font-size: 1rem;
       border-radius: 1rem;
       color: var(--textColorbutton);
       z-index: 100;
   }
   .imageSignUp{
    height: 250px;
    width: 900px;
   

   }

   .h1LoginMRA{
       display: flex;
       justify-content: center;
       align-items: center;
       color: var(--textColorBlue);
   }
   /* ================ Sign Up div ============ */
   /* === Input Container === */
   .inputContainerSignUp {
      color:var(--textColorBlue)
       }
   
   /* === container button ==== */
   .signUpButtonContainer {
       display: flex;
       justify-content: center;
       }
       /* === Sign Up Student Button === */
   .SignUpButtonMemberMRA{
           cursor: pointer;
           background-color: var(--boxColorBackgroundHero);
           outline: none;
           color: var(--textColorHeroSub);
           width: 100%;
           border-radius: 0.5rem;
           margin-top: 1rem; 
           width: 6rem;
           justify-content: center;
       
   }
   
       /* === Button === */
   .SignUpButtonTeacherMRA{
       cursor: pointer;
       background-color: var(--buttoncolor);
       outline: none;
       color: var(--textColorbutton);
       width: 100%;
       border-radius: 0.5rem;
       margin-top: 1rem;
       width: 6rem;
       justify-content: center;
   }
   /* radio button */
   .wrapnewreturn{
    width: auto;
    height: auto;
    display: flex;
justify-content: first baseline;
align-items: center;
flex-direction: row;   
}
   .signUpNewReturn{
    display: inline-flex;

   }

    }

