/* Edit your global styling here */
/* === You can get this at google FA === */
/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* === main set up of banner === */
* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-weight: 200 1000;
    
 } 
:root {
  --backcolorblue: rgb(18, 5, 253);
  --textColor: rgb(114, 113, 113);
  --textColorWhite: white;
  --textColorBlue: #1b05c1;

} 
